.author {
  color: #666;
  font-style: italic;
  font-size: 0.95rem;
}
.notFoundText {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}
