<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>My Favorites</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['']" routerLinkActive="router-link-active"
          >Home</ion-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @if (favouriteQuote.length>0) {
  <swiper-container effect="cards" grab-cursor="true">
    @for (q of favouriteQuote; track q.id) {
    <swiper-slide class="fav-slide">
      <div class="delete-btn" (click)="onDeleteFavourite(q)">
        <ion-icon name="trash-outline"></ion-icon>
      </div>

      <p class="quote-text">“{{ q.quote }}”</p>
      <p class="quote-author">— {{ q.author }}</p>
    </swiper-slide>
    }
  </swiper-container>
  } @else{
  <ion-label class="notFoundText">No favourite quote found</ion-label>
  }
</ion-content>
