<ion-header class="header-wrapper">
  <ion-toolbar class="header-toolbar">
    <!-- LEFT SIDE CONTENT -->
    <div class="header-left">
      <h1 class="main-title">Quotes</h1>
    </div>

    <!-- RIGHT SIDE BUTTONS USING IONIC SLOT -->
    <ion-buttons slot="end" class="header-buttons">
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      @if (email) {
      <ion-button (click)="onLogOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      } @else {
      <ion-button [routerLink]="['/login']">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  @if (!loading) {

  <!-- DAILY QUOTES SECTION -->
  @if (dailyQuote) {
  <div class="daily-wrapper">
    <div class="daily-card">
      <p class="daily-text">“{{ dailyQuote.quote }}”</p>
      <p class="daily-author">— {{ dailyQuote.author }}</p>
    </div>
  </div>
  }

  <!-- QUOTE SWIPER SECTION -->
  <div class="swiper-wrapper-box">
    <swiper-container effect="cards" grab-cursor="true">
      @for (q of paginatedQuote; track q.id) {
      <swiper-slide class="quote-card">
        <div class="card-actions">
          <ion-icon
            name="share-social-outline"
            class="action-icon"
            (click)="shareQuote(q.id)"
          ></ion-icon>

          <ion-icon
            [name]="isFavourite(q.id) ? 'heart' : 'heart-outline'"
            class="action-icon fav-icon"
            (click)="addToFavourite(q)"
          >
          </ion-icon>
        </div>

        <p class="quote-text">“{{ q.quote }}”</p>
        <p class="quote-author">— {{ q.author }}</p>
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <!-- PAGINATION -->
  <div class="pagination-row">
    <ion-button
      fill="outline"
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      >Previous</ion-button
    >
    <ion-button
      fill="outline"
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalNumberOfPages"
      >Next</ion-button
    >
  </div>

  } @else {
  <div class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  }
</ion-content>
