<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Quotes</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourites']">
        <ion-label>Favourites</ion-label>
      </ion-button>

      @if (email) {
      <ion-button (click)="onLogOut()">
        <span>Logout</span>
      </ion-button>
      } @else {
      <ion-button [routerLink]="['/forms']">
        <span>Login/Signup</span>
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(!loading){
  <div class="daily-quote-card">
    @if(dailyQuote){
    <h2 class="section-title">Daily Motivation</h2>

    <p class="daily-quote">“{{ dailyQuote.quote }}”</p>
    <p class="daily-author">— {{ dailyQuote.author }}</p>
    }
  </div>

  <swiper-container effect="cards" grab-cursor="true">
    @for (q of paginatedQuote; track q.id) {
    <swiper-slide class="fav-slide">
      <div class="delete-btn" (click)="addToFavourite(q)">
        <ion-icon
          [name]="isFavourite(q.id)? 'heart':'heart-outline'"
          class="favourite-btn"
          slot="icon-only"
        ></ion-icon>
      </div>

      <p class="quote-text">“{{ q.quote }}”</p>
      <p class="quote-author">— {{ q.author }}</p>
    </swiper-slide>

    }
  </swiper-container>

  <!-- pagination buttons -->
  <ion-buttons class="pagination">
    <ion-button
      fill="outline"
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </ion-button>
    <ion-button
      fill="outline"
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalNumberOfPages"
    >
      Next
    </ion-button>
  </ion-buttons>
  }@else {
  <div class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  }
</ion-content>
