.author {
  color: #666;
  font-style: italic;
  font-size: 0.95rem;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.snipper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
